{% extends 'base.html.twig' %}

{% block title %}Accueil - Connexion{% endblock %}
{% block navbar %}

{% endblock %}
{% block body %}
 <div class="d-flex flex-column align-items-center my-5">

<a class="btn ec-btn ec-btn-home" href="{{ path('app_login') }}">Connect</a>

     <a class="vh-100 d-block mx-auto" href="{{ path('app_login') }}"><img class="w-100 mt-5 " src="{{ asset('build/images/EmmausConnect_1x1_RVB.jpg') }}" alt="accueil">
     </a>
 </div>

{% endblock %}
