<div class="card mt-5 hk-cards">
    <img src="{{ device.image }}" alt="" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ device.name }}</h5>
        {#  <h5 class="card-title">{{ device.price }}</h5>#}
    </div>
      {% for b in device.brand %}
        <em class="texte-muted text-primary text-italic"#{{ b.name }}></em>
    {% endfor %}
</div>