<div class="mt-5 sticky-top">
{{ form_start(form) }}
    {{ form_row(form.q) }}

    <h4>Marques</h4>
    {{ form_row(form.brand) }}

<button type="submit" class="btn w-100 mt-4 hk-filter-btn">Filtrer</button>
</div>
{{ form_end(form) }}