{% extends 'base.html.twig' %}

{% block title %}New Device{% endblock %}

{% block body %}
    <h1>Ajouter un nouvelle appareil</h1>

    {{ include('device/_form.html.twig') }}

    <a href="{{ path('device') }}">back to list</a>
{% endblock %}
