{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
    {#  #}
    <style xmlns="http://www.w3.org/1999/html">
        .example-wrapper {max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }

    </style>

    <div class="example-wrapper hk-listing-show">
        <h1 class="ec-faq-title">Foire aux questions</h1>

        <ul class="ec-faq">
            <li>
                <h2>A</h2>
                <h3>Autonomie : </h3>
                <p>Durée de fonctionnement d'un appareil sur batterie sans nécessiter un branchement secteur.
                    Particulièrement important pour les appareils numériques nomades.</p>
            </li>
            <li>
                <h2>I</h2>
                <h3>Indice de réparabilité : </h3>
                <p>Plus un produit est réparable, plus la note sur 10 sera élevée. Les critères pris en compte sont :
                    la durée de la disponibilité de la documentation technique, la facilité de démontage et les outils
                    nécessaires pour y parvenir.</p>
            </li>
            <li>
                <h2>P</h2>
                <h3>Processeur : </h3>
                <p>'Cerveau' de l'appareil qui lui permet de réaliser un grand nombre de calculs, de faire tourner le
                    système d'exploitation (OS).</p>
            </li>
            <li>
                <h2>R</h2>
                <h3>RAM : </h3>
                <p>Random Access Memory exprimée en gigaoctet (Go).</p>
            </li>
            <li>
                <h2>S</h2>
                <h3>Système d'exploitation : </h3>
                <p>Ensemble de logiciels qui permet à du matériel de fonctionner. Android, Google,
                    iOS (Apple).</p>
            </li>

        </ul>
    </div>
{% endblock %}