.hk-cards{
  margin-left: 10em;
  width: 50%;

}

.hk-li{
  display: flex;
    flex-direction: row;
  justify-content: space-around;
    align-items: center;
  margin:2em;
}

.hk-filter-btn{
  background: #233D8D;
  color: white;
  border: none;
}

.hk-filter-btn:hover{
  border: #233D8D;
  border: solid;
  color: #233D8D;
}
.hk-top{top:40px !important;}
.hk-img {width : 100%;}
.hk-li div {display: block;width:140px}
.hk-listing{border: 2px solid #00acb0; margin: 0 0 0 20px;
  border-bottom: 5px solid #00acb0;
  border-radius: 0.625rem;}
ul {

  padding:0 2rem;

}

.hk-listing-show{border: 2px solid #00acb0; margin: 50px auto;
  border-bottom: 5px solid #00acb0;
  border-radius: 0.625rem;}

.ec-faq-title {
  font-size: 4rem;
  font-weight: 900;
  font-family: $ec-title-font-family;
  color: red;
}

.ec-faq h2 {
  font-family: $ec-text-font-family;
  font-weight: 900;
  font-size: $ec-title-size;
  color: $ec-blue;
}

.ec-faq h3 {
  font-family: $ec-text-font-family;
  font-size: 2rem;
  color: $ec-azur;
  font-weight: 800;
  text-align: center;
}

.ec-faq p {
  text-align: center;
}

.nav-link{color:white}