.hk-cards{
  margin-left: 10em;
  width: 70%;
  height: 70%;
}

.hk-li{
  margin-left: 10em;
  margin-top: 1em;
  margin-bottom: 7em;
}

.hk-filter-btn{
  background: #233D8D;
  color: white;
  border: none;
}

.hk-filter-btn:hover{
  border: #233D8D;
  border: solid;
  color: #233D8D;
}