.hk-show-device{
  display: flex;
}

.hk-device-presentation{
  display: flex;
  flex-direction: column;
}

.hk-device-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2em;
}

a{color:#00acb0;text-decoration: none}
a:hover{color:#FCB900;}

.hk-device-presentation div{width : 30%}
