.bi{font-size: 1.7em}

input.ec-input, #registration_form_email, #registration_form_plainPassword,#registration_form_fullName{

    font-family: $ec-text-font-family;
    font-size: $ec-text-font-size;
    border: none;
    border-radius: $ec-border-radius;
    background: none !important;
    border-bottom: 3px solid $ec-blue;
    padding: 10px 15px;
    margin: 10px 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  input.ec-input:focus{
    outline: none;
    border-bottom: 3px solid $ec-azur;
  }