
article{

  width:500px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
    align-items: center;

  padding: 50px;
  animation: shrink  4s linear;
  border: $ec-border-form;
  border-bottom: 5px solid $ec-azur; /*box-shadow: $ec-box-shadow;*/
  border-radius: $ec-border-radius;
}

@keyframes shrink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
    }
}
form{width: 100%;display: block}