.logo {
  width:100%;
  height:100vh;
  background: url("../images/EmmausConnect_1x1_RVB.jpg") no-repeat center center;
  background-size: 100% auto;
  background-position: center center;
  animation: shrink 4s linear;
}

@keyframes shrink {
  0% {
    background-size: 0 auto;
  }
  100% {
    background-size: 100% auto;

    }
}
