.navbar {
  display: flex;

  background-color: $ec-azur;
}

.navbar img {
  height: 5vh;
}

.bi {
  display: flex;
  justify-content: flex-end;
  font-size: 5vh;
  color: $ec-yellow;
}

.bi-box-arrow-left {
  color: white;
  font-weight: 800;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}