@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Wire+One&display=swap');
$ec-main-white: #FFFAF0;

/*couleur*/
$ec-yellow: #FCB900;
$ec-blue: #233D8D;
$ec-azur: #00acb0;
$ec-azur-50 :rgba(0, 172, 176,0.5);
$ec-main-white: #FFF;
$ec-box-shadow: 6px 6px 15px $ec-azur;
$ec-border-form: 2px solid $ec-azur;
$ec-border-radius: 0.625rem;

/*font*/

$ec-text-font-family: 'Open Sans', serif;
$ec-title-font-family: 'Wire One', serif;
$ec-title-size: 3rem;
$ec-text-font-size: 1rem;

$ec-check-border: 2px solid $ec-blue;
$ec-check-background: $ec-main-white;

$ec-border-radius-check: 0.5rem;


* {
  box-sizing: border-box;
}

body {

  width: auto;
  background-repeat: no-repeat;
  background-position: top right;
}

.ec-title{
  font-family: $ec-title-font-family;
  color: $ec-blue;
  font-size: $ec-title-size;
  line-height: 64px;
  font-weight: 400;
  text-align: center;
}

.ec-sub-title {
  font-family: $ec-title-font-family;
  color: $ec-blue;
  font-size: $ec-title-size - 0.6rem;
  line-height: 55px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px !important;
}

.ec-color {
  color: $ec-blue;
}

.ec-dk-blue {
  color: $ec-blue;
}

.ec-med-blue {
  color: $ec-blue;
}

h4,p,li{
  font-family: $ec-text-font-family;
}

h1,h2{
  margin:40px auto;
  font-family: $ec-title-font-family;
  font-size: $ec-title-size;
  width: max-content;

}
.bi{font-size: 1.7em}
input.ec-input, #registration_form_email, #registration_form_plainPassword{
    font-family: $ec-text-font-family;
    font-size: $ec-text-font-size;
    border: none;
  border-radius: $ec-border-radius;
  background-color: $ec-azur-50 !important;
    border-bottom: 3px solid $ec-blue;
    padding: 10px 15px;
    margin: 10px 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
}
input.ec-input:focus{
    outline: none;
    border-bottom: 3px solid $ec-azur;
}
.ec-btn{
  background-color: $ec-azur;
  color: $ec-yellow;
  border: none;
  border-radius: $ec-border-radius;
  padding: 10px 30px;
  font-size: 1.25rem;
  font-family: $ec-text-font-family;
  cursor: pointer;
    margin: 30px auto 0;
  transition: all 0.3s ease-in-out;
}
.ec-btn:hover{
  background-color: $ec-azur;
    color: $ec-main-white;
}

.ec-link-navbar:link {
  color: $ec-blue;
  text-decoration: none;
}

.ec-link-navbar:visited {
  color: $ec-blue;
  text-decoration: none;
}

.ec-link-navbar:hover {
  color: $ec-blue;
  text-decoration: none;
}


@media screen and (max-width: 430px) {
  .ec-title{
    font-size: 25px;
  }
  .ec-sub-title {
    font-size: 22px;
    margin-bottom: 5px !important;
  }
}
